<div class="web-list-item transaction-list-item">
  <a href="/represented-brand-or-company?name={{ doc.name }}">
    <div class="row">
        <div class="col-xs-4">
            <span class="indicator {{ "red" if doc.status=="Expired" else "green" if doc.status=="Valid" else "darkgrey"}}">
                {{ doc.name }}
            </span>
        </div>
        <div class="col-xs-3">
          {{ doc.status }}
        </div>
	<div class="col-xs-5">
          {{ doc.data_1 }}
        </div>
    </div>
  </a>
</div>
