<div class="web-list-item transaction-list-item">
  <a href="/supplier-profile?name={{ doc.name }}">
    <div class="row">
        <div class="col-xs-5">
            <span class="indicator {{ "red" if doc.licences_status=="Expired" else "green" if doc.licences_status=="Valid" else "darkgrey"}}">
                {{ doc.name }}
            </span>
        </div>
        <div class="col-xs-3">
          {{ doc.licences_status }}
        </div>
	<div class="col-xs-4">
          {{ doc.supplier_registration_application }}
        </div>
    </div>
  </a>
</div>
